name: asdf-java Tests
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-latest', 'macOS-latest']
    env:
      TERM: dumb
    steps:
    - uses: actions/checkout@v2
    - uses: mstksg/get-package@v1
      with:
        brew: bash coreutils jq shellcheck
        apt-get: jq shellcheck
    - name: Run ShellCheck
      run: |
        shellcheck -V
        shellcheck ./bin/functions
        shellcheck ./update_data.bash
        shellcheck ./run_tests.bash
    - name: Install asdf
      uses: actions/checkout@v2
      with:
        repository: asdf-vm/asdf
        path: asdf
    - name: Run tests
      env:
        GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        . asdf/asdf.sh
        asdf plugin-test java "$GITHUB_WORKSPACE" --asdf-plugin-gitref "$GITHUB_SHA" --asdf-tool-version zulu-21.28.85 java -version
    - name: Check update_data.bash
      env:
        GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        ./update_data.bash       
        ./run_tests.bash
    - name: macOS Check java_home integration
      env:
        GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        export ASDF_CONFIG_FILE=${HOME}"/.asdfrc"
        echo "java_macos_integration_enable = yes" > "${ASDF_CONFIG_FILE}"
        . asdf/asdf.sh
        asdf plugin-test java "$GITHUB_WORKSPACE" --asdf-plugin-gitref "$GITHUB_SHA" --asdf-tool-version zulu-8.52.0.23 /usr/libexec/java_home -V 2>&1 | grep "Zulu 8.52.0.23"
      if: matrix.os == 'macOS-latest'
